@import 'reset.css';
@import '../gridit.less';

body {
  .gridit(0, 13%, 3%);
}

img {
  width: 40%;
  height: 30%;
}

body
{
  background-color:#d0e4fe;
}
h1
{
  color:orange;
}
p
{
  font-family:"Times New Roman";
  font-size:20px;
}

.row {
  background: lighten(green, 20%);
}

.row1 { background: darken(yellow, 20%); }
.row2 { background: darken(yellow, 20%); }
.row3 { background: darken(yellow, 20%); }
.row4 { background: darken(yellow, 20%); }
.row5 { background: darken(yellow, 20%); }
.row6 { background: darken(yellow, 20%); }
.row7 { background: darken(yellow, 20%); }

.cell1 { background: lighten(blue, 20%); }
.cell2 { background: lighten(blue, 20%); }
.cell3 { background: lighten(blue, 20%); }
.cell4 { background: lighten(blue, 20%); }
.cell5 { background: lighten(blue, 20%); }
.cell6 { background: lighten(blue, 20%); }
.cell7 { background: lighten(blue, 20%); }
